<app-adminheader></app-adminheader>
<div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">phone</th>
        
      </tr>
    </thead>
    <tbody >
      <tr>
        <th scope="row">1</th>
        <td>{{userform.Name}}</td>
        <td>{{userform.Email}}</td>
        <td>{{userform.phone}}
        </td>
        
      </tr>
   
    </tbody>
  </table>
  </div>
<app-footer></app-footer>
