

<form class="container" ngNativeValidate>
    <div>
        <label>Admin  here</label>
    </div>
    <div class="form-group">
     <label for="exampleInputEmail">Email</label>
     <input type="email" class="form-control" name="email" [(ngModel)]="email" required>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword">Password</label>
        <input type="password" class="form-control" name="Password" [(ngModel)]="password" required>
       </div>
       <button type="login" class="btn btn-primary" (click)="login()">Login</button>
       <a routerLink="../login">user Login</a>
</form>
