<app-header></app-header>
<div class="requests-container">
    <div class="request-header">
        <h5 class="request-title">Requests</h5>
        <h5 class="contactno">Contactno</h5>
        <h5 class="amount">Amount</h5>
        <h5 class="status">Status</h5>
        <h5 class="donate">Donate</h5>
    </div>
</div>
<div *ngIf="details.length > 0">
    <div class="donate" *ngFor="let detail of details; let i = index">
        <i class="fa fa-trash" aria-hidden="true" (click)="onDelete(i)"></i>
        <div class="requests">
            <h3>{{detail.requests}}</h3>
        </div>
        <div class="contactno">
            {{detail.contactno}}
        </div>
       
        <div class="amount">
            {{detail.amount}}
        </div>
        <div class="status">
            {{detail.status}}
        </div>

        <!-- <input type="number">
        <div class="donate">
            {{detail.donate | currency}}
        </div> -->

     </div>
     <div class="donate">
        <div>donate</div>
        <b>{{donate | currency}}</b>
        <button class="btn btn-success">Ordder</button>
    
</div>



<app-footer></app-footer>