<div class="navbar navbar-light " style="margin: right 2px;">
    <form class="form-inline" (submit)="Search()">
        <input class="form-control mr-sm-2" [(ngModel)]="name" name="name" (input)="Search()" type="text" placeholder="Search" aria-label="Search"
            style="width: 72%;">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
<div class="row">
    {{name}}
    <!-- {{searchProducts | json}} -->
    <div class="col-sm-3" *ngFor="let reqdetail of searchRequestdetail" style="display: flex; justify-content: space-around;">
        <div class="card">
            <a [routerLink]="['/requestdetail',reqdetail.id]">
                <h3 class="card-title text-center">
                    {{reqdetail.name}} &nbsp; &nbsp; ${{reqdetail.contactdetail}}
                </h3>
            </a>
            <button class="btn btn-info" style="background-color: #a73030;" (click)="addTodonate(reqdetail)">Add donate</button>
        </div>
    </div>
</div>